*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100% !important;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Arimo", sans-serif;
  background-color: white;
}

html {
  min-height: 100% !important;
  height: 100%;
}

#img_logo_groupomania {
  width: 10em;
}

.connection_form {
  display: flex;
  justify-content: center;
  height: 100%;
  &_background {
    display: none;
  }
}

.form_container {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.form_submit {
  margin-top: 1em;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  padding: 1.1em;
  width: 40%;
  background-color: rgb(255, 215, 215);
  font-weight: bold;
}

#connection_content_titles {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form_input_signup {
  margin-top: 0.5em;
  text-decoration: none;
  border: none;
  border-bottom: 0.2em solid rgb(170, 170, 170);
  padding: 0.8em;
  width: 80%;
}

.form_input_login {
  margin-top: 2em;
  text-decoration: none;
  border: none;
  border-bottom: 0.2em solid rgb(170, 170, 170);
  padding: 0.8em;
  width: 80%;
}

.form_input_login:focus,
.form_input_signup:focus {
  outline: none;
  border-bottom: 0.2em solid rgb(255, 215, 215);
}

.form_input_login:hover,
.form_input_signup:hover {
  border-bottom: 0.2em solid rgb(255, 173, 173);
}

.form_submit_login:focus,
.form_submit_signup:focus {
  outline: none;
  background-color: rgb(255, 173, 173);
}

.form_submit_login:hover,
.form_submit_signup:hover {
  background-color: rgb(255, 173, 173);
}

.active_btn {
  border-bottom: 0.15em solid rgb(255, 215, 215);
  padding-bottom: 0.2em;
}

.inactive_btn {
  color: rgb(170, 170, 170);
}

.inactive_btn:hover {
  color: rgb(255, 173, 173);
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  #img_background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(0.15em);
  }

  p {
    margin-top: 1.5em;
  }

  #connection_content {
    padding: 3em;
    border-radius: 1.2em;
    margin: 1em 0;
    width: 85%;
    max-width: 35em;
  }
}

@media only screen and (min-width: 992px) {
  #img_background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(0.15em);
  }

  #connection {
    justify-content: flex-end;
    height: 100%;
  }

  #connection_content {
    box-shadow: 0px 0px 30px 25px rgba(0, 0, 0, 0.6);
    width: 40%;
    border-radius: 1.2em 0 0 1.2em;
  }

  .form_input_login,
  .form_input_signup {
    margin-top: 1.5em;
    text-decoration: none;
    border: none;
    border-bottom: 0.2em solid rgb(170, 170, 170);
    padding: 0.8em;
    width: 80%;
  }

  p {
    margin-top: 1.5em;
  }
}

@media only screen and (min-width: 1200px) {
  #connection_content {
    max-width: 35em;
    min-height: 100%;
    height: 100%;
  }

  #connection_content_titles {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30em;
  }

  .form_input_login,
  .form_input_signup {
    margin-top: 1.5em;
    text-decoration: none;
    border: none;
    border-bottom: 0.2em solid rgb(170, 170, 170);
    padding: 0.8em;
    width: 28em;
  }
}
